/* Themed sections */
.section-bg-pink {
    background-color: mistyrose;
    padding: 60px 0;
}

.section-bg-white {
    background-color: white;
    padding: 60px 0;
}

/* Pseudo elements */
/* Pseudo elements can be styled, like you would style any other element */
.headline::before,
.headline::after {
    color: white;
    font-size: 42px;
}

.headline::before {
    content: 'Hello from the BEFORE element';
}

.headline::after {
    content: 'Hello from the AFTER element';
}

/* headline decorated */
.headline-decorated::before,
.headline-decorated::after {
    /* By default pseudo elements have display set to inline */
    display: inline-block;
    width: 50px;
    height: 20px;
    /* Without any content we might need to add a background so we can see the element.
    You can always check in the dev tools to verify if the pseudo element is rendered.
    */
    background-color: rebeccapurple; 
    /* We need to add this property, even though empty, 
    otherwise the before and after will not appear  */
    content: '';
}

/* Headline timeline */
.headline-timeline {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    /* 
    This number is calculated from the width of the pseudo element 
    plus the space we want to create between the pseudo element and 
    the rest of the content:
    30px (psuedo width) + 16px (space between pseudo element and content)
    We need to add this space since the pseudo elements are positioned absolutely and 
    no space will be reserved for them and they will be overlapping the content.
    */
    padding-left: 46px;
}

.headline-timeline::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    background-color: rebeccapurple; 
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    content: '';
}

.headline-timeline::after {
    position: absolute;
    top: 0;
    left: 12px;
    width: 5px;
    height: 100%;
    display: block;
    background-color: rebeccapurple; 
    content: '';
}

